body {
	padding-top: 60px;
	font-family: 'Special Elite', cursive;
}

#brand {
	text-transform: uppercase; 
}

.photo {
	background-image: url("../img/EXPENDABLES-2-LINEUP.jpg");
	height: 100px;
	width: 82px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.soldier-name {
	font-size: 24px;
	line-height: 40px;
}

#stallone .photo {
	background-position: 0 -1px;
}

#statham .photo {
	background-position: -84px -1px;
}

#li .photo {
	background-position: -168px -1px;
}

#lundgren .photo {
	background-position: -252px -1px;
}

#norris .photo {
	background-position: -336px -1px;
}

#van-damme .photo {
	background-position: -168px -163px;
}

#willis .photo {
	background-position: -252px -163px;
}

#schwarzenegger .photo {
	background-position: -336px -163px;
}
